$blue: #003f86;
$bright-blue: #2990ff;
$red: #dc3545;
$bg: #202124;
$light-bg: #343638;
$light-bg-1: #505152;
$dark-bg: #16171e;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


*{
    font-family: nunito;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.775);
}

img{
    max-width: 90vw;
}

body{
    font-family: nunito;
    background-color: $bg;

    #root{

        nav.main-nav{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: calc( 100vw - 40px);
            padding: 5px 20px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            background-color: $bg;

            position: relative;

            
            cursor: default;


            .brand-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: fit-content;
                gap: 10px;

                .icon-container{
                    img{
                        width: 24px;
                    }
                }

                .brand-name{
                    font-weight: 600;
                }

            }

            .options-container{
                display: flex;
                align-items: center;
                gap: 20px;

                .account-icon{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 20px;

                    img{
                        width: 36px;
                        border-radius: 24px;
                        border: 2px solid transparent;
                        padding: 2px;

                        &:hover{
                            border: 2px solid $blue;
                        }
                    }
                }
            }

            section#account-drop-down{
                position: absolute;
                top: 100%;
                right: 40px;
                width: 400px;
                max-width: 90vw;
                padding: 20px;
                border-radius: 10px;
                background-color: $light-bg;

                .acc-container{
                    .header{
                        position: relative;
                        text-align: center;
                        padding: 10px 0;

                        .right{
                            position: absolute;
                            top: 0px;
                            right: 10px;

                            button{
                                background-color: transparent;
                                font-size: 24px;
                                border: none;
                            }
                        }
                    }

                    .content{
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .top{
                            padding: 20px 0 10px 0;
                            text-align: center;
                            
                            img{
                                width: 120px;
                                max-width: 50%;
                                border-radius: 50%;
                
                            }
                        }

                        .greetings{
                            font-size: 35px;
                            text-align: center;
                        }

                        .action-btn{
                            text-align: center;

                            button{
                                background-color: transparent;
                                border: 1px solid gray;
                                border-radius: 20px;
                                padding: 4px 24px;
                                font-size: 16px;
                                color: $bright-blue;
                                cursor: pointer;
                            }
                        }
                    }

                    .actions-container{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 5px;
                        width: 90%;
                        margin:4px auto;
                        margin-top: 16px;

                        button{
                            background-color: $dark-bg;
                            border: none;
                            font-size: 18px;
                            text-align: left;
                            padding: 12px 16px;
                            display: grid;
                            grid-template-columns: auto 1fr;
                            gap: 8px;
                            align-items: center;
                            cursor: pointer;

                            &.right{
                                border-radius: 0 16px 16px 0;
                            }

                            &.left{
                                border-radius: 16px 0 0 16px;
                            }

                            &:hover{
                                background-color: $light-bg-1;
                            }
                        }
                    }

                    .foot{
                        display: grid;
                        grid-template-columns: 1fr auto 1fr;
                        align-items: center;
                        gap: 8px;
                        padding-top: 16px;

                        span{
                            text-align: left;
                            font-size: small;

                            &.link{
                                text-align: right;
                            }

                            &.dot{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

        }
    }
}